.header__wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px 0;
}

.header__logo {
	height: 110px;
}

.header__btn-icon {
	display: none;
}

@media screen and (max-width: 1024px) {
	.header__wrapper {
		padding: 7px 0 14px;
	}

	.header__logo {
		height: 76px;
	}
}

@media screen and (max-width: 768px) {
	.header__btn-icon {
		display: flex;
	}

	.header__btn-text {
		display: none;
	}

	.header__btn {
		padding: 16px;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}

@media screen and (max-width: 570px) {
	.header__logo {
		height: 45px;
	}
}